.briyani{
    border: 5px solid black;
    border-radius: 100px;
    width:500px ;
    height:600px ;
    background-color:wheat;
    padding: 40px;
    margin: 2px auto;
}
.layout{
    width: 380px;
    height:380px;
    border-radius:100px;
    display:flex;
    align-content: center;
    border:23px brown;
}
.briyani .title{
    color:black;
    justify-content: space-between;
}
.briyani .title p{
    background-color: green;
    border-radius: 6px;
    color: aliceblue;
    width: 25px;
    height: 25px;
    display:flex;
    align-content: center;
}

.briyani .subtitle .offer del{
    color: red;
    
}
.briyani .subtitle .offer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.briyani .subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.briyani .title{
    display: flex;
    justify-content: space-between;
}
.briyani .subtitle .offer h3{
    color:black;
}
.briyani.quotes{
    display: flex;
    align-content: center;
    justify-content: space-between;

}
